.todoItem {
  padding: 2em 1.5em;
  font-size: 1.8em;
  width: 55vw;
  margin: .8em auto;
  display: flex;
  justify-content: space-between;
  box-shadow: 2px 1px 2px 2px #ccc;
  text-align: left;
}

.todoItem-true {
  background: #333;
  color: #fff;
}

.todoItem-false {
  background: #eee;
  color: #333;

}

.todoItem-true p {
  color: rgba(212, 255, 148, 0.384);
}

.todoItem-false p {
  color: rgba(230, 85, 33, 0.671);
}

.todoItem p {
  display: flex;
  justify-content: space-around;
}

.delete {
  cursor: pointer;
  color: slategray;
  margin: 0 .4em;

  ;
}